body{
    background: linear-gradient(0.25turn, #d7fcd4, #f9f1d0);
}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.email-link{
    text-decoration: underline;
    color: darkviolet;
}

a{
    text-decoration: none;
    color: crimson;
}

h3{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.text-special-color{
    color: rgb(157, 37, 248);
}

.text-new-color{
    color: rgb(5, 92, 60);
}