body{
    /* background: linear-gradient(0.25turn, #d7fcd4, #f9f1d0); */
    background: linear-gradient(0.25turn, #d7fcd4, #f9f1d0, #b99696);
}

h1{
    text-align: center;
    font-family: 'Allura', cursive;
    font-size: 64px;
}

a{
    text-decoration: none;
    color: rgb(160, 29, 55);
    font-weight: bold;
}

p{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.email-link{
    text-decoration: underline;
    color: darkviolet;
}

.text-special-color{
    color: rgb(157, 37, 248);
}

.text-new-color{
    color: rgb(6, 84, 123);
}

@media (max-width: 900px) {
    .option-listings{
        display: flex;
        justify-content: space-between;
    }

    h1{
        font-size: 40px;
    }
}